.filterToolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
}

.filter-left-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  gap: 10px;
}

.filter-left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter-left select {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  padding-left: 10px;
  border: 2px solid #6c7275;
  height: 30px;
  border-radius: 8px;
}

.sortby {
  display: flex;
  position: relative;
  cursor: pointer;
}

.sortby.active .arrowIcon {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.sortby h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.sortMenu {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
  width: 160px;
  height: 150px;
  position: absolute;
  bottom: -170px;
  background-color: white;
  border: 1px solid #6c7275;
  border-radius: 8px;
  cursor: pointer;
  z-index: 100;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.sortMenu li {
  padding: 0px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sortMenu li:hover {
  background-color: #007bff;
  color: white;
}
.filter-right-container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 296px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.grid-selector {
  width: 184px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  background-color: white;
}
.grid-selector .selector {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  border: 1px solid #e8ecef;
  height: 100%;
}
.grid-selector .selector img {
  transform: scale(0.8);
  transition: transform 0.3s ease;
}

.grid-selector .selector.hover img {
  transform: scale(1);
  transition: transform 0.3s ease;
  filter: brightness(0);
}

.arrowIcon {
  width: 20px;
  height: 20px;
}
.sortList.active {
  background-color: #007bff;
  color: white;
}
