/* General Styles  */

.contact-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.contact-us-main-container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

.contact-us-header {
  text-align: center;
  margin-bottom: 40px;
}

.contact-us-header h1 {
  font-size: 2.5rem;
  color: #141718;
  font-family: "Poppins";
  margin-bottom: 10px;
}

.contact-us-header p {
  font-size: 1.2rem;
  color: #666;
  font-family: "Inter";
}

/* Main Container */
.contact-us-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

/* Form Section */
.contact-us-form-container {
  flex: 1 1 450px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-us-form-container h2 {
  font-size: 1.8rem;
  color: #444;
  margin-bottom: 20px;
  font-family: "Poppins";
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group-container label {
  font-size: 1rem;
  font-weight: 600;
  color: #555;
  margin-bottom: 8px;
  display: block;
  font-family: "Inter";
}

.form-group-container input,
.form-group-container textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  color: #333;
  font-family: "Inter";
}

.form-group-container input:focus,
.form-group-container textarea:focus {
  border-color: #007bff;
  outline: none;
}

.contact-us-submit-button {
  background-color: #141718;
  color: #fff;
  padding: 12px 20px;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins";
}

.contact-us-submit-button:hover {
  background-color: #0056b3;
}

/* Details Section */
.contact-us-details-container {
  flex: 1 1 350px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-us-details-container h2 {
  font-size: 1.8rem;
  color: #444;
  margin-bottom: 20px;
  font-family: "Poppins";
}

.contact-us-details p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 10px;
}

.contact-us-details strong {
  color: #333;
  font-weight: 600;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-us-container {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 480px) {
  .contact-us-header h1 {
    font-size: 2rem;
  }

  .contact-us-header p {
    font-size: 1rem;
  }

  .contact-us-form-container,
  .contact-us-details-container {
    padding: 20px;
  }
}
