
.image-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 10.5vw;
  overflow: hidden;
  margin-top: 10px;
}

.image-carousel {
  display: flex;
  width: 100%;
  height: 536px;
  background-color: bisque;
  overflow: hidden;
  position: relative;
}

.image-carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image-carousel .arrowRight {
  right: 20px;
}

.image-carousel .arrowLeft {
  left: 20px;
}

.image-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  flex-shrink: 0;
}

.sliderImages {
  display: none; 
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sliderImages.active {
  display: block; 
}

/* Home Header Section */
.homeHeader-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  padding: 0 10.5vw;
}

.homeHeader-section h1 {
  font-family: Poppins;
  font-size: 72px;
  font-weight: 500;
  line-height: 76px;
  letter-spacing: -2px;
  text-align: left;
}

.homeHeader-section p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #121212;
}

/* Category Section */
.category-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 0 10.5vw;
  gap: 20px;
  margin-top: 24px;
}

.category {
  background-color: #f3f5f7;
  overflow: hidden;
  position: relative;
}
.category:nth-child(1) {
  grid-row: 1/3;
}
.category-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  mix-blend-mode: multiply;
}

.category-title {
  position: absolute;
  color: black;
  cursor: pointer;
}

.category-title h1 {
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  font-weight: bold;
}

.category-title span {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
  border-bottom: 1px solid #141718;
}

.category:nth-child(1) .category-title {
  top: 20px;
  left: 20px;
}

.category:nth-child(2) .category-title {
  bottom: 20px;
  left: 20px;
}

.category:nth-child(3) .category-title {
  bottom: 20px;
  left: 20px;
}

.category-title span {
  display: inline-flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
  color: #000;
}

/* //new-arrival-section */

.new-arrival-section {
  overflow: hidden;
  padding-left: 10.5vw;
}

.new-arrival-section h1 {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
  text-align: left;
  margin-top: 20px;
}
.new-arrival-header {
  display: flex;
  padding-right: 10.5vw;
  align-items: flex-end;
  justify-content: space-between;
}
.new-arrival-header span {
  display: inline-flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
  color: #000;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-bottom: 1px solid #141718;
}
.arrival-product-cards {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px 0;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
.arrival-product-cards::-webkit-scrollbar {
  display: flex;
  height: 0.2rem;
  background-color: #f3f3f3;
}

.arrival-product-cards::-webkit-scrollbar-thumb {
  background-color: #343839;
  border-radius: 1rem;
}

.arrival-product-cards::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.arrival-product-cards > div {
  scroll-snap-align: start;
}

.arrival-product-cards > div {
  flex: 0 0 auto;
  width: 262px;
  height: auto;
  box-sizing: border-box;
}

/* Service-Section */

.service-section {
  display: grid;
  padding: 0 10.5vw;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 24px;
}
.service-section-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 262px;
  height: 220px;
  background-color: #f3f5f7;
  padding: 48px 32px;
  gap: 16px;
  transition: transform 0.3s;
}
.service-section-card:hover {
  transform: translateY(-5px);
}

.service-icon svg {
  stroke-width: 1.5;
  color: #141718;
}
.service-section-card h3 {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #141718;
}

.service-section-card p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #6c7275;
}

/* home-section-bottom-banner */

.home-section-bottom-banner {
  display: grid;
  width: 100%;
  height: 532px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
}
.home-section-bottom-banner .image-banner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.home-section-bottom-banner .banner-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding-right: 160px;
  padding-left: 72px;
}
.home-section-bottom-banner .banner-details p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #377dff;
}
.home-section-bottom-banner .banner-details h1 {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.home-section-bottom-banner .banner-details h3 {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #141718;
}
.home-section-bottom-banner .banner-details span {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  border-bottom: 1px solid #141718;

  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
